@charset "utf-8";
/*作者(Author): 李潇喃    Website: www.muzisheji.com   QQ: 854378082*/
*, *:before, *:after {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {border:0;background:transparent;margin:0;padding:0;}
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote {display:block;}
nav ,ul {list-style:none;}
ol {list-style:decimal;}
blockquote:before, blockquote:after, q:before, q:after {content:none;}
table {border-collapse:collapse;border-spacing:0;}
hr {display:block;height:0px;border:0;border-top:1px solid #ccc;overflow:hidden; line-height:0px;}
input ,select ,a img {vertical-align:middle;}
.clearfix:after {content: ""; clear: both; height: 0px; overflow: hidden; display:block; visibility: hidden;}
.clearfix { !zoom:1;}
.overh {overflow: hidden;}
.h_img {line-height: 0px; font-size: 0px;}
a {color: #8E9091; text-decoration: none;}
a:hover {text-decoration: underline;}
.ps {position: absolute;}
.pr ,.section {position: relative;}
.f_l {float: left;}
.f_r {float: right;}
img {max-width: 100%; height: auto;}
.tc {text-align: center;}
.color_red {color: #E90101;}
.hidden {display: none;}
html {height: 100%; overflow: hidden;}
body {font-family:"微软雅黑","宋体","Arial","Verdana","sans-serif"; font-size: 1em; line-height: 2em; color: #fff; background: #000; overflow: hidden; position: relative; height: 100%;}
.wp {position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden;}
.next {width: 9%; left:50%; bottom: 0em; margin-left: -4.5%;}
.logo { left: 0; top: 2%; width: 96%; position: fixed; z-index: 10000;}
/*翻页动画*/
.fullPage-wp{-webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
.fullPage-wp:after {display: block;content: ' ';height: 0;clear: both;}
.fullPage-wp.anim{-webkit-transition: all 500ms ease-out 0s;transition: all 500ms ease-out 0s;}
.fullPage-page{display: block;overflow: hidden;}
.fullPage-dir-h {float: left;}
/*p1*/
.body_p1 {background-image:url(../img/bg_4_2.png),url(../img/bg_3_1.png); background-position: center bottom,right top; background-repeat: no-repeat,no-repeat; background-size:contain;width: 100%; height: 100%; position: relative;}
.p1_h1 {width: 92%; margin: 0 auto; top: 20%;}
.p1_car {width: 82%; margin: 0 auto; top: 50%;}
.startgame {width: 25%; left: 50%; bottom: 5%; margin-left: -12.5%; }
/*p2*/
.body_p2 {background:url(../img/bg_2_1.png) center top repeat-y; background-size:  100% auto; width: 100%; height: 100%; position: relative; -webkit-transition: all 10ms ease-out 0s; -o-transition: all 10ms ease-out 0s; -moz-transition: all 10ms ease-out 0s; -ms-transition: all 10ms ease-out 0s; transition: all 10ms ease-out 0s;}
.p2_car {width: 24%; bottom: 5%; left: 50%; margin-left: -12%; text-align: center;}
.djs {width: 45%; margin: 0 auto; height: 8%; top: 20%; background: url(../img/3.png) center top no-repeat; background-size: contain; -webkit-transition: all 50ms ease 0s; transition: all 50ms ease 0s;}
.djs.img2 {background: url(../img/2.png) center top no-repeat;background-size: contain;}
.djs.img1 {background: url(../img/1.png) center top no-repeat;background-size: contain;}
.djs.action {background: url(../img/action.png) center top no-repeat;background-size: contain;}
.body_p2.body_p2_dh {background:url(../img/bg_2_2.png) center top repeat-y; background-size:  100% 150%; -webkit-animation:body_p2_dh_trans 0.3s 0s ease infinite; -o-animation:body_p2_dh_trans 0.3s 0s ease infinite;  -ms-animation:body_p2_dh_trans 0.3s 0s ease infinite; -moz-animation:body_p2_dh_trans 0.3s 0s ease infinite; animation:body_p2_dh_trans 0.3s 0s ease infinite;}
@-webkit-keyframes body_p2_dh_trans{
	0%{background-position: center 100%;}
	20%{background-position: center 80%;}
	40%{background-position: center 60%;}
	60%{background-position: center 40%;}
	80%{background-position: center 20%;}
	100%{background-position: center 0%;}
}
@-o-keyframes body_p2_dh_trans{
	0%{background-position: center 100%;}
	20%{background-position: center 80%;}
	40%{background-position: center 60%;}
	60%{background-position: center 40%;}
	80%{background-position: center 20%;}
	100%{background-position: center 0%;}
}
@-moz-keyframes body_p2_dh_trans{
	0%{background-position: center 100%;}
	20%{background-position: center 80%;}
	40%{background-position: center 60%;}
	60%{background-position: center 40%;}
	80%{background-position: center 20%;}
	100%{background-position: center 0%;}
}
@-ms-keyframes body_p2_dh_trans{
	0%{background-position: center 100%;}
	20%{background-position: center 80%;}
	40%{background-position: center 60%;}
	60%{background-position: center 40%;}
	80%{background-position: center 20%;}
	100%{background-position: center 0%;}
}
@keyframes body_p2_dh_trans{
	0%{background-position: center 100%;}
	20%{background-position: center 80%;}
	40%{background-position: center 60%;}
	60%{background-position: center 40%;}
	80%{background-position: center 20%;}
	100%{background-position: center 0%;}
}
.gameend {width: 38%; margin: 0 auto; top: 20%; text-align: center;}
.gameend > img {max-width: 70%; margin-top: 0.5em;}
.df {font-size: 2.8em; color: #EA0104; font-style: italic; font-weight: bold;}
.mi {font-size: 0.7em;}
